[user]
	name = Itay R
	email = 
[rebase]
	stat = true
	autostash = true
[diff]
	renames = true
	tool = bc
[pager]
	branch = false
	config = false
[advice]
	detachedHead = 0
[icdiff]
	options = --line
