set clipboard+=unnamed
set gdefault
set ignorecase
set showmode

nmap Y y$
noremap c "_c
noremap C "_C
nmap go :action GotoImplementation<CR>
nmap ]c :action VcsShowNextChangeMarker<CR>
nmap [c :action VcsShowPrevChangeMarker<CR>
